<h1>All your lists</h1>

<% @lists.each do |list| %>
<ul>
<li><%= link_to list.name, list_path(list.id) %></li>
<li><%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill if list.photo.key? %></li>
</ul>
<% end %>

<%= link_to "Create a new list?", "lists/new" %>
